@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<nav class="navbar">
    <div style="display: flex">
        <form asp-page-handler="Seed" method="post">
            <select id="regionSelect" asp-for="@Model.Region">
                <option value="US">US</option>
                <option value="PL">PL</option>
                <option value="RU">RU</option>
            </select>
            <label for="seed">Seed:</label>
            <input type="number" name="seed" id="seed" value="@Model.Seed" onchange="this.form.submit();" />
            <input type="hidden" name="errorCount" value="@Model.ErrorCount" />
        </form>
        <form asp-page-handler="RandomSeed" method="post">
            <input type="hidden" name="region" value="@Model.Region" />
            <input type="hidden" name="seed" value="@Model.Seed" />
            <input type="hidden" name="errorCount" value="@Model.ErrorCount" />
            <button type="submit">Random</button>
        </form>
    </div>
    <div style="display: flex">
        <form asp-page-handler="ErrorInject" method="post">
            <input type="hidden" name="region" value="@Model.Region" />
            <input type="hidden" name="seed" value="@Model.Seed" />
            <label for="error">Error:</label>
            <input type="number" name="errorCount" id="error" min="0" max="1000" value="@Model.ErrorCount" onchange="this.form.submit();" />
        </form>
        <form asp-page-handler="ErrorInject" method="post" id="errorInjectForm">
            <input type="hidden" name="region" value="@Model.Region" />
            <input type="hidden" name="seed" value="@Model.Seed" />
            <input type="range" name="errorCount" min="0" max="10" step="0.25" value="@Model.ErrorCount" onchange="this.form.submit();" />
        </form>
    </div>
    <form action="/" method="post">
        <button>SVG</button>
    </form>
</nav>

<table class="table table-bordered">
    <thead>
        <tr>
            <th scope="col">Number</th>
            <th scope="col">Id</th>
            <th scope="col">Full name</th>
            <th scope="col">Address</th>
            <th scope="col">Phone number</th>
        </tr>
    </thead>
    <tbody id="userTableBody">
        @foreach (var user in Model.Users)
        {
            <tr>
                <td>@user.Number</td>
                <td>@user.Id</td>
                <td>@user.FullName</td>
                <td>@user.Address</td>
                <td>@user.PhoneNumber</td>
            </tr>
        }
    </tbody>
</table>


